/*
 * Styles
 * Colores a utilizar:
    a) Azul oscuro
    #002d4a
    b) Azul medio
    #1c425b
    c) Azul claro
    #4e6c80
    d) Aguamarina oscuro
    #00abb7
    e) Aguamarina medio
    #43e3e3
    f) Aguamarina claro
    #7ecdcf
    g) Gris oscuro
    #b3c0c9
    h) Gris claro
    #edf3ff
    i) vBlanco
    #ffffff
 */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.division-azul{
    width: 100%;
    height: 61px;
    background-color: #002d4a;
}
.division-azul p{
    margin: 0;
    color: white;
    text-align: right;
    margin-right: 20px;
    padding-top: 20px;
    float: right;
}
h1,.menu-principal{
    width: 28%;
    display: inline-block;
}
h1{
    color: rgb(0,59,92) !important;
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
}
.menu-principal{
    width: 70%;
    border-bottom: 1px solid #00B5E2;
    text-align: right;
    padding-right: 15px;
}
.menu-principal ul{
    list-style: none;
}
.menu-principal li{
    display: inline-block;
    padding: 0 5px;
}
.menu-principal li a{
    text-decoration: none;
    color: #00B5E2;
}
.menu-principal li a{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.menu-principal li:hover a{
    color: rgb(0,59,92);
}
.menu-principal .current{
    color: rgb(0,59,92);
}

.main{
    width: 90%;
    margin: 0 auto;
}
.slider{
    margin: 50px 0 10px!important;
}
.slider img{
    width: 100%;
}
.container1{
    vertical-align: top;
    width: 68%;
    display: inline-block;
    margin-top: 30px;
}
.container1 h2{
    padding: 7px;
}
.container1 .bienvenidos{
    margin-top: 10px;
    padding: 7px;
    margin-bottom: 50px;
}
.news{
    width: 28%;
    display: inline-block;
    margin-top: 30px;
}
.news h2{
    background: #002d4a;
    border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    font-weight: 300;
}
.news .asunto{
    background: #002d4a;
    border-radius: 2px;
}
.news .asunto{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1px 5px;
}

.news .asunto h4,
.news .asunto p{
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.news .asunto h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #00B5E2;
}

.news .asunto h4:hover,
.news .asunto p:hover{
    color: #00B5E2;
}
footer{
    padding: 20px 0;
    width: 100%;
    background-color: #003B5C;
    display: table;
}
footer .center{
    width: 70%;
    margin: 0 auto;
}
footer .trow{
    display: table-row;
}
footer .trow div{
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}
footer img.buap{
    width:120px;
    height: auto;
}
img.facultad{
    width:300px;
    height: auto;
}
footer p{
    color: #00B5E2;
    display: inline-block;
    font-size: 80%;
}


/********************************
 * NOSOTROS
 *********************************/
 .container2{
    margin-top: 40px;
 }
 .container2 h2{
    text-align: center;
    font-variant: small-caps;
    font-size: 190%;
 }
 .container2 h2:after{
    content: "";
    display: block;
    margin: 0 auto;
    padding: 1px 0;
    width: 100px;
    background-color: rgb(0,59,92);
 }
 .integrantes{
    list-style: none;
    width: 80%;
    margin: 0 auto;
 }

 .integrantes li{
    width: 30%;
    text-align: center;
    display: inline-block;
 }

.integrantes a{
    text-decoration: none;
    color: #5E5D5D;
}

.integrantes h3{
    font-size: 16px;
}

.integrantes img{
    border-radius: 2px;
    width: 150px;
}


/********************************
 * EVENTOS
 *********************************/
.container2{
    margin-top: 40px;
}

.container2 h2{
    padding-left: 40px
}
.eventos{
    list-style: none;
    width: 100%;
    padding-left: 40px;
}

.eventos li{
    width: 100%;
    margin-top: 40px;
}

.eventos li img{
    width: 28%;
    border-radius: 15px;
}

.eventos li h3{
    color: rgb(0,59,92);
}

.eventos li h3:hover{
    color: #00517e;
}

.eventos li .info{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
}

.eventos a{
    text-decoration: none;
    color: black;
}

.r-more{
    color: rgb(0,59,92);
    width: 150px;
    border-radius: 30px;
    border: 1px solid rgb(0,59,92);
    text-align: center;
    padding: 5px;
}

.r-more:hover{
    color: #ccc;
    background-color: rgb(0,59,92);
}

/********************************
 * EVENTO
 *********************************/

 .evento{
    text-align: center;
    width: 80%;
    margin: 0 auto;
 }

 .evento img{
    width: 50%;
    border-radius: 30px;
 }

 .evento .nombre-evento{
    text-align: center;
 }

 .evento .informacion{
    text-align: left;
    margin-bottom: 50px;
 }

 .evento .informacion,
 .evento td{
    padding: 10px;
 }

 .evento tr:nth-child(2n){
    background-color: #E3E3E3;
 }

 .evento tr:nth-child(2n+1){
    background-color: #a0ddff;
 }

 .evento td.icono{
    text-align: center;
 }

 .evento td.descripcion{
    background-color: white;
 }

 .evento span.descripcion{
    color: rgb(0,59,92);
    font-weight: 700;
    font-variant: small-caps;
    font-size: 130%;
 }

 .eventos li{
    margin-bottom: 250px;
 }

 /********************************
  * CONTACTO
  *********************************/

.contacto{
    width: 80%;
    margin: 0 auto;
}

.contacto input{
    display: block;

}
.contacto{
    margin-bottom: 50px;
}


.departamentales iframe{
    width: 100%;
    height: 500px;
    margin: 15px 0;
}

/********************************
 * FOOTER
 *********************************/

footer p a{
    margin-left: 5px;
    color: #BEBEBE;
}


